@use '../../styles/partials/variables' as v;
@use '../../styles/partials/mixins' as *;

.nav {
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__left {
    font-family: monospace;
    font-size: 125%;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__button {
    display: none;

    @include respond(phone) {
      cursor: pointer;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      background-color: v.$color-gray-dark-2;
      z-index: 1000;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: v.$color-gray-light-2;
      display: block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__checkbox {
    display: none;
  }

  &__items {
    display: flex;
    align-items: center;

    & > * {
      display: block;

      &:not(:last-child) {
        margin-right: 6rem;
      }
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__checkbox:checked ~ &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: v.$color-gray-dark-2;

    & > *:not(:last-child) {
      margin-right: 0;
      margin-bottom: 6rem;
    }
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

// .mode {
//   width: 2em;
//   line-height: 1;
//   border: none;
//   border-radius: 50%;
//   background-color: v.$color-gray-light-2;
//   svg {
//     color: v.$color-gray-dark-1;
//     fill: v.$color-gray-dark-1;
//   }

//   // @media (prefers-color-scheme: light) {
//   //   background-color: v.$color-gray-dark-1;
//   //   svg {
//   //     color: v.$color-gray-light-2;
//   //     fill: v.$color-gray-light-2;
//   //   }
//   // }
// }
