@use '../partials/variables' as v;
@use '../partials/mixins' as *;
@use '../partials/extends' as *;

.container {
  @extend %background-dark;
}

.content {
  max-width: 100rem;
  margin: 0 auto;
  @include default-flex(3rem, column);
  font-size: 1.8rem;
}

.back button {
  border: none;
  background-color: transparent;   
  font-size: 125%;
  color: currentColor;
  cursor: pointer;

  &:hover, &:active {
    color: v.$color-primary;
  }
}

.frontmatter {
  @include default-flex(1.5rem, column);

  p {
    font-size: 125%;
    line-height: 1.3;
  }

  small {
    @include default-small(1.5rem);
  }
}

.markdown {
  @include default-flex(1.5rem, column);
}
