@use '../partials/variables' as v;
@use '../partials/mixins' as *;
@use '../partials/extends' as *;

.container {
  @extend %background-dark;
}

.content {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  @include default-flex(3rem, column);
  font-size: 1.8rem;
}

.back button {
  border: none;
  background-color: transparent;   
  font-size: 125%;
  color: currentColor;
  cursor: pointer;

  &:hover, &:active {
    color: v.$color-primary;
  }
}

.frontmatter {
  @include default-flex(1.5rem, column);

  p {
    font-size: 125%;
    line-height: 1.3;
  }

  small {
    @include default-small(1.5rem);
  }
}

.markdown {
  @include default-flex(1.5rem, column);
  align-items: flex-start;

  h2 {
    margin-top: 1rem;
  }

  figure {
    width: 100%;
    text-align: center;

    figcaption {
      font-weight: 300;
    }
  }

  a {
    &:link,
    &:visited {
      color: v.$color-primary-light;
    }

    &:hover,
    &:active {
      color: v.$color-primary-dark;
    }
  }

  ul, ol {
    padding-left: 4rem;

    li:not(:first-child) {
      margin-top: 1.5rem;
    }

    li > p:not(:first-child) {
      margin-top: 1rem;
    }
  }

  code {
    font-size: 85%;
    display: inline-block;
    padding: 0.2rem 0.4rem;
    border-radius: 0.6rem;
    background-color: v.$color-gray-dark-3;
  }

  pre {
    overflow-x: auto;
    border-radius: 0.6rem;
  }

  pre > code {
    line-height: 1.45;
    padding: 1.6rem;
  }

  blockquote {
    padding: 3.2rem;
    background-color: v.$color-gray-dark-2;
    position: relative;

    &::before,
    &::after {
      line-height: 1;
      font-size: 350%;
      position: absolute;
    }

    &::before {
      content: '\201C';
      top: 0.2rem;
      left: 0.6rem;
    }

    &::after {
      content: '\201D';
      bottom: -3.2rem;
      right: 0.6rem;
    }

    p {
      font-style: italic;

      &:not(:first-child) {
        margin-top: 1.5rem;
      }
    }
  }
}
