@use '../../styles/partials/variables' as v;

.footer {
  position: relative;
  font-size: 1.6rem;
  padding: 2rem 0;

  border-top: 1px solid v.$color-gray-light-2;
  background-color: v.$color-gray-dark-1;

  display: flex;
  justify-content: center;
  align-items: center;
}

