@use 'sass:color';
@use './partials/variables' as v;
@use './partials/mixins' as *;
@use './partials/utils';

.container {
  max-width: 192rem;
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.hero-img {
  z-index: -1;
}

.content {
  position: relative;
  padding: 4rem 8rem;

  flex: 1;
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(
    to right,
    rgba(v.$color-gray-dark-2, 0.8),
    rgba(v.$color-gray-dark-2, 0.8)
  );
  background-size: cover;

  @include respond(tab-land) {
    padding: 2rem 4rem;
  }
}

.main {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond(tab-land) {
    justify-content: center;
  }

  &__pitch {
    max-width: 65rem;

    @include respond(tab-land) {
      text-align: center;
    }
  }

  &__img {
    display: block;
    position: relative;

    @include respond(tab-land) {
      display: none;
    }
  }
}
